@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --padding-x: calc(0.033 * 100vw);
    --padding-x-md: calc(0.05 * 100vw);
    --padding-x-sm: calc(0.0615 * 100vw);
    --padding-y: calc(0.011 * 100vw);
    --padding-y-md: calc(0.025 * 100vw);
    --padding-y-sm: calc(0.0410 * 100vw);
}